Source: nodm
Section: misc
Priority: extra
Maintainer: Debian FreeSmartphone.Org Team <pkg-fso-maint@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>, Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 7.0.50~), po-debconf, pkg-config, libx11-dev, libpam0g-dev, help2man
Standards-Version: 3.9.1
Vcs-Git: http://git.debian.org/git/pkg-fso/nodm.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/nodm.git;a=summary

Package: nodm
Architecture: linux-any
Depends: x11-common, x11-xserver-utils, ${shlibs:Depends}, ${misc:Depends}
Conflicts: zhone-session
Description: automatic display manager
 This package prepares the system to automatically start an X session at
 system boot. It is meant for devices like smartphones, but can be used on
 a regular computer as well, if the security implications are acceptable.
