Source: nodm
Section: misc
Priority: extra
Maintainer: Joachim Breitner <nomeata@debian.org>
Uploaders: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 7), po-debconf, libpam0g-dev, help2man
Standards-Version: 3.8.0
Vcs-Git: http://git.debian.org/git/pkg-fso/nodm.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/nodm.git;a=summary

Package: nodm
Architecture: any
Depends: xinit, x11-common, xterm | x-terminal-emulator, ${shlibs:Depends}, ${misc:Depends}
Conflicts: gdm, xdm, kdm, x-display-manager, zhone-session
Description: Automatic Display Manager
 This packages prepares the system to automatically start an X session at
 system boot. It is targeted for devices like smartphones, but can be used
 a regular computer as well, if the security implications are acceptable.
 .
 It should not be installed on a regular Debian system, as it would interfere
 with an installed display manager.

