#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -s /etc/default/nodm ] ; then
	. /etc/default/nodm

	if [ -n "$NODM_ENABLED" ] ; then
		db_set nodm/enabled "$NODM_ENABLED"
	fi
	if [ -n "$NODM_USER" ] ; then
		db_set nodm/user "$NODM_USER"
	fi

	if [ -n "$2" ] && dpkg --compare-versions "$2" lt "0.10"
	then
		# After 0.10 nodm/xinit is not needed anymore
		# don't fail if it was unregistered before
		db_unregister nodm/xinit || true
	fi

	if [ -n "$2" ] && dpkg --compare-versions "$2" lt "0.5"
	then
		# If I'm coming from <0.5, remove vtN from NODM_X_OPTIONS and
		# set first_vt to N
		if [ -n "$NODM_X_OPTIONS" ] ; then
			# Try to extract vtN from NODM_X_OPTIONS
			VTNUM=`echo "$NODM_X_OPTIONS" | sed -re 's/^.*\<vt([0-9]+)\>.*$/\1/'`
			if [ "$VTNUM" = "$NODM_X_OPTIONS" ]
			then
				VTNUM=
			else
				# If it found vtN, strip it away from NODM_X_OPTIONS
				NODM_X_OPTIONS=`echo "$NODM_X_OPTIONS" | sed -r -e 's/[[:blank:]]*\<vt([0-9]+)\>[[:blank:]]/ /' -e 's/^[[:blank:]]*//' -e 's/[[:blank:]]*$//'`
			fi
			db_set nodm/x_options "$NODM_X_OPTIONS"
		fi
		if [ -n "$NODM_FIRST_VT" ] ; then
			db_set nodm/first_vt "$NODM_FIRST_VT"
		elif [ -n "$VTNUM" ]; then
			# If VTNUM was not set but we found it in NODM_X_OPTIONS, set it here
			db_set nodm/first_vt "$VTNUM"
		fi
	else
		if [ -n "$NODM_FIRST_VT" ] ; then
			db_set nodm/first_vt "$NODM_FIRST_VT"
		fi
		if [ -n "$NODM_X_OPTIONS" ] ; then
			db_set nodm/x_options "$NODM_X_OPTIONS"
		fi
	fi
	if [ -n "$NODM_MIN_SESSION_TIME" ]; then
		db_set nodm/min_session_time "$NODM_MIN_SESSION_TIME"
	fi
	if [ -n "$NODM_XSESSION" ]; then
		db_set nodm/xsession "$NODM_XSESSION"
	fi
fi

db_input medium nodm/enabled || true
db_go

db_get nodm/enabled
START="$RET"

if [ "x$START" = "xtrue" ] ; then
	db_input medium nodm/user || true
	db_go

	db_input low nodm/first_vt || true
	db_go

	db_input low nodm/x_options || true
	db_go

	db_input low nodm/min_session_time || true
	db_go

	db_input low nodm/xsession || true
	db_go
fi

