#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -s /etc/default/nodm ] ; then
	. /etc/default/nodm

	if [ -n "$NODM_ENABLED" ] ; then
		db_set nodm/enabled "$NODM_ENABLED"
	fi
	if [ -n "$NODM_USER" ] ; then
		db_set nodm/user "$NODM_USER"
	fi
	if [ -n "$NODM_COMMAND" ] ; then
		db_set nodm/command "$NODM_COMMAND"
	fi
	if [ -n "$NODM_MIN_SESSION_TIME" ]; then
		db_set nodm/min_session_time "$NODM_MIN_SESSION_TIME"
	fi
fi

db_input medium nodm/enabled || true
db_go

db_get nodm/enabled
START="$RET"

if [ "x$START" = "xtrue" ] ; then
	db_input medium nodm/user || true
	db_go

        db_input low nodm/command || true
        db_go

	db_input low nodm/min_session_time || true
	db_go
fi

